@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato-Italic';
    src: url('../fonts/Lato/Lato-Italic.ttf');
}
@font-face {
    font-family: 'Lato-Bold-Italic';
    src: url('../fonts/Lato/Lato-BoldItalic.ttf');
}
@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato/Lato-Black.ttf');
}

@font-face {
    font-family: 'Amaranth-Regular';
    src: url('../fonts/Amaranth/Amaranth-Regular.ttf');
}
@font-face {
    font-family: 'Amaranth-Bold';
    src: url('../fonts/Amaranth/Amaranth-Bold.ttf');
}
@font-face {
    font-family: 'Amaranth-Italic';
    src: url('../fonts/Amaranth/Amaranth-Italic.ttf');
}
@font-face {
    font-family: 'Amaranth-Bold-Italic';
    src: url('../fonts/Amaranth/Amaranth-BoldItalic.ttf');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato-Regular';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amaranth-Bold';
}

h4 {
  font-size: 16px;
}

#map {
  height: 100%;
}

#page-content-wrapper {
  width: 100%;
  transition: all 0.4s ease 0s;
}

.navbar-fixed-top {
	height: 140px;
	min-width: 600px;
	overflow-x: auto !important;
	background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
}

.navbar-header {
  width: 100%;
}

.navbar-brand {
	width: 200px;
	color: #ffffff;
}

.navbar-brand hr {
	margin: 5px 0;
}

.navbar-brand .navbar-location {
	color: #ffb92f;
}

.brand-title {
  font-size: 18px;
  line-height: 18px;
  color: white;
  margin-top: 30px;
}

#menu-toggle {
  text-decoration: none;
  float: left;
  color: #fff;
  padding-right: 15px;
}

#hike-info {
	color: #ffffff;
	display: inline-block;
	position: relative;
	width: 180px;
  height: 125px;
  top: 0;
  padding-left: 15px;
	text-align: center;
	border-left: 2px solid #ffffff;
}

#hike-info li {
	list-style: none;
  font-size: 12px;
}

#hike-info hr {
	margin: 0;
}

#hike-header {
	margin-bottom: 5px;
}

#weather-link {
  margin: 5px 0 0 0;
}

.powered {
	font-size: 12px;
	color: #ffffff;
	margin-bottom: 0;
}

.weather-info {
	color: #ffffff;
	display: inline-block;
	position: relative;
	width: calc(100% - 460px);
	height: 125px;
	top: 6px;
  margin-left: 30px;
	border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
}

.weather-table td {
	width: 150px;
}

.weather-today {
	display: inline-block;
	text-align: center;
	height: 125px;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}

.currentDayHTML {
  margin: 5px;
}

.weather-icon {
	height: 40px;
	margin: 0 auto;
}

.weather-today p {
	margin: 0 0;
}

#sidebar {
	position: fixed;
	top: 0;
  left: 100%;
  padding: 140px 0 0 0;
  width: 200px;
  height: 100%;
  margin-left: -100%;
  background-color: rgba(50, 50, 50, 0.8);
  color: #fff;
  overflow-y: auto;
  z-index: 1029;
  transition: all 0.4s ease 0s;
}

#sidebar hr {
  margin: 10px 15px;
}

.locationFilter {
  margin: 10px 20px;
  font-size: 14px;
  color: #fff;
}

#sidebar select {
  font-size: 12px;
  color: #000;
  margin: 0 20px;
}

#sidebar.collapsed {
  margin-left: calc(-100% - 200px);
}

.weather-info-sidebar {
	color: #fff;
	position: relative;
	top: 6px;
  margin-left: 35px;
  width: 120px;
}

.photo {
	height: 120px;
}

#locations ul {
  padding: 0;
  font-size: 14px;
}

ul li{
	text-decoration: none !important;
	list-style: none;
  line-height: 20px;
  padding-left: 20px;
  color: #ffffff;
  transition: all 0.4s ease 0s;  
}

ul li:hover, active, focus, visited {
	background-color: rgba(131, 147, 106, 0.8);
  color: #ffb92f;
}

ul a {
	color: #ffffff;
	transition: all 0.4s ease 0s;
}

ul a:hover, active, focus, visited {
	text-decoration: none !important;
  color: #ffb92f;
}

.bullet {
	margin-right: 15px;
}

@media screen and (min-width: 600px) {
  .weather-info-sidebar {
    display: none;
  }
  .weather-info {
    display: inline-block;
  }
}

@media screen and (max-width: 599px) {
  .weather-info-sidebar {
    display: block;
  }
  .weather-info {
    display: none;
  }
}