html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*min-width: 600px;
    width: auto !important;*/
}

/*Colors*/
.fuego-bg               { background-color: #aed12e; }
.fuego-light-bg         { background-color: #d6e896; }
.fuego-xlight-bg        { background-color: #f7faea; }
.fuego-dark-bg          { background-color: #576818; }
.fuego-xdark-bg         { background-color: #232a09; }
.cucumber-bg            { background-color: #88a95b; }
.cucumber-light-bg      { background-color: #b6ca9b; }
.cucumber-xlight-bg     { background-color: #f3f6ee; }
.cucumber-dark-bg       { background-color: #506435; }
.cucumber-xdark-bg      { background-color: #1b2112; }
.orange-bg              { background-color: #ffa500; }
.orange-light-bg        { background-color: #ffc966; }
.orange-xlight-bg       { background-color: #fff6e6; }
.orange-dark-bg         { background-color: #996300; }
.orange-xdark-bg        { background-color: #332100; }
.indian-red-bg          { background-color: #cd5c5c; }
.indian-red-light-bg    { background-color: #db8a8a; }
.indian-red-xlight-bg   { background-color: #f9ebeb; }
.indian-red-dark-bg     { background-color: #9c3030; }
.indian-red-xdark-bg    { background-color: #3b1212; }
.boston-blue-bg         { background-color: #4F9BB0; }
.boston-blue-light-bg   { background-color: #95c3d0; }
.boston-blue-xlight-bg  { background-color: #edf5f7; }
.boston-blue-dark-bg    { background-color: #2f5d6a; }
.boston-blue-xdark-bg   { background-color: #101f23; }
/*Grayish Brown*/
.americano-bg           { background-color: #8a7d72; }
.americano-light-bg     { background-color: #bab2ab; }
.americano-xlight-bg    { background-color: #f4f2f1; }
.americano-dark-bg      { background-color: #544c45; }
.americano-xdark-bg     { background-color: #1c1917; }

#map {
    height: 100%;
}
/*
#wrapper.active {
  	left: 250px; /*OLD VALUE: padding-left: 0;*/
  	/*transition: all 0.4s ease 0s;*/
}
*/
#wrapper {
  	left: 0; /*OLD VALUE: padding-left: 250px;*/
}

#page-content-wrapper {
  	width: 100%;
  	transition: all 0.4s ease 0s;
}

.navbar-fixed-top {
	height: 140px;
	background-color: gray;
}

.navbar-header {
    width: 100%;
}

.navbar-brand {
	width: 250px;
	color: #ffffff;
}

.navbar-brand hr {
	margin: 5px 0;
}

.navbar-brand .navbar-location {
	color: #ffb92f;
}

.brand-title {
	/*display: inline-block;*/
	/*width: 200px;*/
	font-size: 24px;
	line-height: 24px;
	color: white;
}

#menu-toggle {
    text-decoration: none;
    float: left;
    color: #fff;
    padding-right: 15px;
}

.navbar-fixed-top {
	min-width: 600px;
	overflow-x: auto !important;
}

#hike-info {
	/*background-color: #4F9BB0;*/
	color: #ffffff;
	border-left: 2px solid #ffffff;
	display: inline-block;
	width: 180px;
    height: 125px;
    padding-left: 15px;
    position: relative;
    top: 0;
	text-align: center;
}

#hike-info li {
	list-style: none;
    font-size: 12px;
}

#hike-info hr {
	margin: 0;
}

#hike-header {
	margin-bottom: 5px;
}

.weather-link {
	/*background-color: #ffa500;*/
}

.powered {
	font-size: 12px;
	color: #ffffff;
	margin-bottom: 0;
}

.weather-info {
	/*background-color: #cd5c5c;*/
	color: #ffffff;
	/*display: inline-block;*/
	position: relative;
	top: 6px;
    margin-left: 30px;
	/*width: calc(100% - 510px);*/
	border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
}

.weather-table td {
	width: 150px;
}

.weather-today {
	display: inline-block; /*display: inline-flex;*/
	/*flex-wrap: nowrap;*/
	text-align: center;
	width: 200px; /*width: 24%;*/
	height: 125px;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}

.weather-icon {
	height: 40px;
	margin: 0 auto 5px auto;
}

.weather-today p {
	margin: 0 0 5px;
}

#sidebar {
  	margin-left: -100%;
  	top: 140px;
  	left: 100%;
  	width: 250px;
  	background-color: #000;
  	position: fixed;
  	height: 100%;
  	overflow-y: auto;
  	z-index: 1031; /*must be higher than the bootstrap z-index for .navbar-fixed-top*/
  	transition: all 0.4s ease 0s;
}

#sidebar.collapsed {
    margin-left: calc(-100% - 250px);
}

.weather-info-sidebar {
	/*background-color: #cd5c5c;*/
	color: #ffffff;
	position: relative;
	top: 6px;
    margin-left: 40px;
    width: 160px;;
}

.photo {
	height: 120px;
}

#waterfalls ul {
  	margin: 20px 0 0 0;
}
#waterfalls ul li{
	list-style: none;
}

.bullet {
	margin-right: 15px;
}

@media screen and (min-width: 600px) {
    .weather-info-sidebar {
        display: none;
    }
    .weather-info {
        display: inline-block;
    }
}

@media screen and (max-width: 599px) {
    .weather-info-sidebar {
        display: block;
    }
    .weather-info {
        display: none;
    }
}
